
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/GioHang/_LayoutGioHang.cshtml";
}

<h2>XÁC NHẬN ĐƠN THUÊ XE</h2>
<h4>
    Đơn thuê xe của quý khách tôi đã ghi nhận và gửi thông tin thuê xe qua email, mong quý khách đến nhận xe đúng hạn. 
</h4>
@Html.ActionLink("VỀ TRANG CHỦ", "Index", "SachOnline")

